/* Estilos básicos */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos adicionais conforme necessário */

.social-button {
    color: #333;
    font-size: 20px;
    padding-right: 5px;
}

.lattes {
    color: white;
    font-size: 20px;
    padding-right: 5px;
}